:root {
  --text-title: #FFF;
  --text: #7d7d7d;
  
  --background: rgb(33, 33, 33);
  --main: rgb(24, 24, 24);
  --background-card: #383838;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
  color: var(--text-title);
}

footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  bottom: 0;
  width: 100%;
}

footer p {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--text);
}